.cell {
    width: 35px;
    height: 35px;
    text-align: center;
    background: linear-gradient(to top, #0daeb1, #0daeb1, #0daeb1, #0daeb1, #35dfe2, #61ddf3, #a3e7f3);
    font-family: cursive;
    font-weight: bolder;
    font-size: large;
    color: rgb(255, 3, 217);
    cursor: pointer;
    min-width: 35px;

}

p {
    display: inline;
    font-size: x-large;
    margin: 10px;
    cursor: default;
}

button {
    margin: 10px;
    font-size: x-large;
    font-family: cursive;
    cursor: pointer;

}

body {
    text-align: center;
    background-image: url(../img/backround1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: cursive;
}

table {
    margin: auto;

}

.main-div {
    background-color: rgba(137, 43, 226, 0.36);
    margin: auto;
    margin-top: 5%;
    width: 50%;
    min-width: fit-content;
    padding: 20px;
}

.shown {
    box-shadow: inset 1px 1px 13px 8px rgb(0 0 0 / 40%);
    cursor: default;
}

.marked {
    cursor: default;
}

.hint {
    cursor: pointer;

}

.hint-selected {
    background-color: rgb(38, 225, 0);
}

.hints {
    font-size: x-large;
    cursor: default;
    background-color: none;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    min-width: fit-content;
    padding: 20px;
    display: inline-block;
}
.safe-click{
    display: inline-block;
    cursor: default;
}
.best-score{
    cursor: default;
}
.untouched:hover{
    box-shadow: inset 1px 1px 13px 8px rgb(0 0 0 / 20%);
}

.safe-cell{
    box-shadow: inset 1px 1px 13px 8px rgba(39, 242, 3, 0.668);
}